@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    display: block;
    background-color: red;
    text-align: center;
}
header nav {
    text-align: center;
    background-color: red;
    height: 5.5em;
    justify-content: center;
    align-items: center;
}
header img#fullstackeletro {
    width: 200px;
    height: 100px;
}
header span.material-symbols-outlined {
    color: white;
    cursor: pointer;
    display: block;
    width: 100%;
}
header nav#inav {
    display: none;
}
header nav a.nav {
    display: block;
    color: white;
    background-color: rgb(243, 0, 0);
    text-decoration: none;
    padding: 5px;
}
header span:hover, a.nav:hover {
    color: black;
    background-color: white;
    transition: .3s;
}
main h2, h3 {
    text-align: center;
    margin: 20px;
}
main p {
    text-indent: 10px;
    margin-bottom: 10px;
    text-align: center;
}
main section#lojas h4 {
    text-align: center;
    padding: 10px;
}
main section#contato p {
    margin: 10px;
}
main section#contato textarea {
    margin-top: 10px;
    margin-left: 40px;
}
main section#contato input#envia {
    margin-left: 200px;
}
section div#produtos {
    margin: 20px 0px 20px 0px;
    text-align: center;
}
section div#produtos img.produto {
    width: 100px;
}
section div#produtos img.produto:hover {
    width: 125px;
    transition: .2s;
}
section div#produtos hr {
    margin: auto;
    width: 150px;
}
section div#produtos p.preconovo {
    margin-bottom: 40px;
    font-size: 1.2em;
    color: red;
}
ul#cat {
    text-indent: 20px;
}
div#categorias {
    list-style-position: inside;
}
li.cate {
    padding: 5px;
}
li.cate:hover {
    cursor: pointer;
    color: white;
    background-color: red;
    transition: .3s;
}
footer {
    text-align: center;
}
footer p#pformas-pagamento {
    color: red;
}
footer img#formas-pagamento {
    width: 200px;
}
footer p#meunome {
    margin-bottom: 20px;
}